vaadin-text-field {
  width: 300px;
}
vaadin-number-field {
  width: 300px;
}

.vaadin-text-field-title {
  width: 500px;
  font-size: 24px;
}


.vaadin-text-field-email-name {
  width: 200px;
}

.vaadin-text-field-email-domain {
  width: 100px;
}

.vaadin-text-field-email-com {
  width: 70px;
}

.vaadin-text-field-name {
  width: 200px;
}

.vaadin-text-field-tell-station {
  width: 100px;
}

.vaadin-text-field-tell-number {
  width: 100px;
}

.vaadin-text-field-address {
  width: 100px;
}

.vaadin-text-field-address-number {
  width: 100px;
}

.vaadin-text-area-answer {
  width: 80%;
  height: 55px;
  font-size: 12px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}

.vaadin-text-area-cmt {
  width: 80%;
  height: 55px;
  font-size: 12px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}

.vaadin-text-area-comment {
  width: 70%;
  height: 55px;
  font-size: 12px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}
