vaadin-text-field {
  width: 300px;
}
vaadin-number-field {
  width: 300px;
}

.vaadin-text-field-title {
  width: 500px;
  font-size: 24px;
}

.vaadin-text-area-answer {
  width: 80%;
  height: 70px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}


.vaadin-text-area-comment {
  width: 70%;
  height: 70px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}