vaadin-text-field {
  width: 300px;
}
vaadin-number-field {
  width: 300px;
}

.vaadin-text-field-title {
  width: 500px;
  font-size: 24px;
}

.vaadin-text-field-width-70 {
  width: 70px;
}

.vaadin-text-field-width-100 {
  width: 100px;
}

.vaadin-text-field-width-200 {
  width: 200px;
}

.vaadin-text-field-width-100-flex-30 {
  width: 100px;
  flex: 30;
}

.vaadin-text-field-width-200-flex-80 {
  width: 200px;
  flex: 80;
}

.vaadin-text-area-answer {
  width: 80%;
  height: 55px;
  font-size: 12px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}

.vaadin-text-area-cmt {
  width: 80%;
  height: 55px;
  font-size: 12px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}

.vaadin-text-area-comment {
  width: 70%;
  height: 55px;
  font-size: 12px;
  // border: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  background: white;
}
