
vaadin-button {
  width: 100px;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.vaadin-button-after {
  width: 50px;
}

.vaadin-button-before {
  width: 50px;
}

.vaadin-button-large {
  width: 130px;
  height: 60px;
  font-size: 16px;
  margin: 1em;
  padding: 0;
}

.vaadin-button-grid-page-prev {
  width: 70px;
}
.vaadin-button-grid-page-next {
  width: 70px;
}
.vaadin-button-grid-page-number {
  width: 50px;
  background: white;
  margin: 0;
}