/* RESET
 * 기존에 먹혀있는 CSS초기화입니다.
*/
.div-main {
    height: auto;
    margin: 0;
    padding: 0;
}
.div-home-grid {
    margin: 0;
}

/* RESET END */

/* FONT 글씨체 */
@font-face {
  font-family: 'nskr';
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
       url(./fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
       url(./fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'nskr';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
       url(./fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
       url(./fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 400;
   src: url(./fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 500;
   src: url(./fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 700;
   src: url(./fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 900;
   src: url(./fonts/NotoSansKr/NotoSansKR-Black.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Black.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Black.otf) format('opentype');
 } 
body *{
    font-family: 'nskr';
}
/* FONT END */

/* Layout 레이아웃 공통 */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.width-full {
    width: 1024px;
}
.align-center {
    margin: 0 auto;
}
.align-center {
    margin: 0 auto;
}
.align-center-text {
    text-align: center;
}
.align-right-text {
    text-align: right;
}
.align-left-text {
    text-align: left;
}
.scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}
.scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.clear-r {
    clear: right;
}
.clear-l {
    clear: left;
}
.clear-b {
    clear: both;
}
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}
.mc /*Main Contents*/{
    box-sizing: border-box;
    height: calc(100% - 80px - 80px);
}
.div-inline {
    display: inline-block;
}

.agz-scroll {
	overflow-y: scroll;
}
.agz-scroll::-webkit-scrollbar-track
{
	background-color: transparent;
}
.agz-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}
.agz-scroll::-webkit-scrollbar-thumb
{
    background-color: #4fd80b;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* Layout End*/

/* Page Common 페이지 공통 */
.page-description {
    font-size: 34px;
    font-weight: 300;
    padding-top: 36px;
    padding-bottom: 20px;
    color: #4fd80b;
}
/* Page Common END*/

/* Colors */
.agz-bg {
    background: #4fd80b;
}
.agz-fc {
    color: #4fd80b !important;
}

/* colors END */

/* header */
.header {
    height: 80px;
}
.header > div {
    height: 80px;
    padding: 0;
}
.header .logo {
    height: 80px;
    cursor: pointer;
}
    /* 헤더 사용자 버튼 */
.header .wrap-btn-client {
    position: absolute;
    right: 0;
    top: 10px;
}
.header .wrap-btn-client button {
    width: 64px !important;
    height: 20px !important;
    line-height: 20px;
    border-radius: 2px;
    background: #fff !important;
    border: none !important;
    font-size: 12px;
    letter-spacing: -1px;
    margin: 0 0 0 4px !important;
    padding: 0 !important;
    
}
.header .wrap-btn-client button:hover {
    background: #f0ee35 !important;
}
.header .wrap-nav {
    position: absolute;
    top: 46px;
    right: 50%;
    margin-right: -512px !important;
    
    background: transparent;
    color: #fff;
    border: none;
    
    text-align: right;
    
    font-weight: 400;
    font-size: 22px;
    z-index: 100;
}
.header .wrap-nav li {
    display: inline-block;
    cursor: pointer;
}
.header .wrap-nav li > div ,
.header .wrap-nav li {
    padding-top : 0px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    
}
.header .wrap-nav li > div {
    padding-bottom: 0 !important;
}
.header .wrap-nav > li {
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 12px !important;
}

/* header END */

/* footer */
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 80px;
    
    text-align: center;
    background: #fff;
}
/* footer END */

/* main & searchbox */
.page-main .illust-main {
    width: 100%;
    height: 280px;
    background: #e1e1e1;
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: 50% 72%;
    box-sizing: border-box;
}
.page-main .wrap-content-main {
    height: calc(100% - 280px);
    position: relative;
}
.wrap-searchbox {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 50%;
    text-align: center;
}
.wrap-searchbox .label-center{
    height: 48px;
    line-height: 48px;
}
.wrap-searchbox .ipt-addr {
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    height: 48px;
    vertical-align: bottom;
    border: 3px solid #4fd80b;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
    
    margin: 0 -2px;
    position: relative;
}
.wrap-searchbox .ipt-addr div.vaadin-text-field-container {
    position: absolute;
    left:0;
    top: 3px;
}
.wrap-searchbox .btn-search {
    display: inline-block;
    width: 100px;
    height: 48px;
    line-height: 48px;
    vertical-align: bottom;
    border: none;
    background: #4fd80b;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: -6px;
    font-weight: bold;
    cursor: pointer;
    
    border-radius: 0;
    margin: 0 -4px;
}
.page-main .box-summary {
    position: absolute;
    bottom: 50%;
    width: 100%;
}
.page-main .box-summary .summary {
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    margin: 0 24px;
    color: #666;
    cursor: pointer;
}
.page-main .wrap-content { 
    box-sizing: border-box;
    position: relative;
    margin-top: 6px;
    height: calc(100% - 280px);
}
.page-main .box-summary {
    margin-top: 24px;
    text-align: center;
}
.page-main .box-summary .num {
    color: #47c10a;
    font-size: 40px;
}
/* searchbox END */

/* table bbs */
.agz-bbs {
    display: inline-block;
    margin-top: 6px;
    
    width: 100%;
    height: auto;
}
.agz-bbs .cell{
    display: block;
    float: left;
}
.agz-bbs .th {
    height: 40px;
    line-height: 40px;
    margin-bottom: 12px;
    color: #666;
    font-size: 14px;
    
}
.agz-bbs .tc {
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    
    font-size: 14px;
    color: #aaa;
}
.agz-bbs .tc .title {
    color: #222;
    font-size: 16px;
    cursor: pointer;
}
.agz-bbs .tc[selected=selected]{
    background: #eee;
}

.w-0 {width: 0%;}
.w-3 {width: 3%;}
.w-5 {width: 5%;}
.w-7 {width: 7%;}
.w-8 {width: 8%;}
.w-10 {width: 10%;}
.w-20 {width: 20%;}
.w-30 {width: 20%;}
.w-40 {width: 20%;}
.w-50 {width: 20%;}
.w-60 {width: 60%;}
.w-160 {width: 160%;}
    /* Searchbox */
.wrap-search{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}
.wrap-search > * {
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
}
.wrap-search .label {
    display: inline-block;
    color: #888;
    margin: 0 8px;
}
.wrap-search .btn {
    width: 80px;
    background: #bbb;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    margin-left: 24px;
    font-size: 14px;
}
.wrap-search .btn:hover {
    background: #3fc80b;
}
.wrap-search .btn:active {
    background: #4fd81b;
}
.wrap-search .datepickr {
    display: inline-block;
    font-family : 'nskr';
    color: #444;
    width: 150px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.wrap-search .datepickr:hover {
    border-bottom-color: #bbb;
}
.wrap-search .ipt-txt {
    width: 214px;
    border-bottom: 1px solid #eee;
}
.wrap-search .select {
    display: inline-block;
    font-family : 'nskr';
    color: #444;
    width: 150px;
    height: 32px;
    line-height: 44px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.wrap-search .select:hover {
    border: 1px solid #bbb;
}

    /* searchbox END */
    /*Pagination*/
.pagination {
    text-align: center;
    margin-top: 24px;
    
}
.pagination .btn{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
}
.pagination .btn.prev,
.pagination .btn.next {
    font-weight: 900;
    color: #999;
}
.pagination .btn.prev:hover,
.pagination .btn.next:hover{
    color: #4fd80b;
}
.pagination .btn.number {
    background: #e4fff1;
    border-radius: 2px;
    color: #80ca5c;
}
.pagination .btn.number[selected="true"] {
    background: #00da59;
    color: #fff;
}
.pagination .btn.number:hover {
    background: #4fd80b;
    color: #fff;
}
    /* Btns */
.wrap-btn-pet .btn {
    display: block;
    width: 150px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    
    float: right;
    color: #fff;
    background: #00d80a;
    margin: 0 0 0 20px;
    
    cursor: pointer;
    transition: 0.3s;
}
.wrap-btn-pet .btn:hover {
    background: #00c80a;
}
.btn.down-excel {
    display: inline-block;
    color: #fff;
    background: #4fd80b;
    font-size: 12px;
    padding: 8px 18px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 1;
}
/* table END */

/* tile news */
.tilenews {
    height:100%;
}
.tilenews .masonry {
    height: 100%;
    padding: 0 14px;
    column-count: 3;
    column-gap: 40px;
    padding-top: 54px;
}
.tilenews .masonry .card {
    display: inline-block;
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    border: 1px solid #eee;
    cursor: pointer;
    transition: 0.3s;
}
.tilenews .masonry .card:hover{
    box-shadow: 0px 10px 12px rgba(0,0,0,0.3);
}

.tilenews .card .image {
    width: 100%;
}
.tilenews .card .title {
    text-align: right;
    
    font-size: 20px;
    padding: 24px 20px 0px 60px;
}
.tilenews .card .title p {
    word-break: keep-all;
}
.tilenews .card .subtitle {
    text-align: right;
    padding: 14px 20px 40px 0px;
    color: #aaa;
    font-size: 12px;
}
/* tile news END */
/* land info */
.wrap-land-info {
    display: inline-block;
}
.div-land-info-item {
    display: block;
    float: left;
}

.div-land-info-item.left {
    width: 404px;
    margin-right: 16px;
    height: 100%;
    box-sizing: border-box;
}
.div-land-info-item.right {
    width: 604px;
    height: 100%;
    box-sizing: border-box;
}

.wrap-land-info table{
    width: 100%;
    font-weight: 200;
}
.wrap-land-info table td,
.wrap-land-info table th {
    box-sizing: border-box;
}
.wrap-land-info table tr {
    border-bottom: 1px solid #eee;
}
.wrap-land-info table th {
    font-weight: 400;
}

.tbl-info-01 {
    border-top: 2px solid #aaa;
    margin-top: 10px;
}
.tbl-info-01 th,
.tbl-info-01 td {
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    text-indent: 12px;
    font-size: 14px;
    text-align: center;
}
.tbl-info-01 th {
    width: 30%;
    background: #f7f7f8;
}
.tbl-info-01 .width-resize {
    width: 10%;
    height: 30px;
    word-break: normal;
}
.tbl-info-01 .double {
    height: 30px;
    word-break: normal;
}

.tbl-info-02 {
    margin-top: 6px;
    width: 100%;
    border-top: 2px solid #aaa;
}
.tbl-info-02 th,
.tbl-info-02 td {
    box-sizing: border-box;
    height: 28px;
    line-height: 32px;
    text-indent: 12px;
    text-align: center;
    font-size: 14px;
    text-align: center;
}
.tbl-info-02 th {
    background: #f7f7f8;
}

.tbl-info-03 {
    margin-top: 6px;
    border-top: 2px solid #aaa;
}
.tbl-info-03 th,
.tbl-info-03 td {
    box-sizing: border-box;
    height: 26px;
    line-height: 26px;
    text-indent: 12px;
    font-size: 14px;
    text-align: center;
}
.tbl-info-03 th {
    background: #f7f7f8;
    width: 30%;
}
.wrap-land-info .map {
    width: 100%;
    height: 335px;
    box-sizing: border-box;
    border: 1px solid #f7f7f8;
    padding-top: 10px;
}

.tbl-info-04 {
    margin-top: 6px;
    width: 100%;
    border-top: 2px solid #aaa;
}
.tbl-info-04 th,
.tbl-info-04 td {
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    text-align: center;
}
.tbl-info-04 td {
    height: 43px;
    line-height: 26px;
}
.tbl-info-04 th {
    height: 38px;
    line-height: 38px;
}
.tbl-info-04 tr:nth-of-type(2n-1) {
    background: #f8f8f9; 
}
.tbl-info-04 th {
    background: #f7f7f8;
}

.tbl-info-04 .th-right {
    height: 38px;
    line-height: 38px;
    text-align: right;
    padding-right: 5px;
}
/* land info END */
/* purchase */
.page-purchase .agz-bbs {
    border-top: 2px dashed #eee;
    padding-top: 12px;
}
.receipt {
    width: 100%;
    text-align: right;
    padding: 24px 0 16px 0;;
}
.receipt .label {
    font-size: 16px;
    padding-left:20px
}
.receipt .amount {
    font-size: 24px;
}
.receipt .amount.cash {
    color: #4fd80b;
}
.receipt .amount.point {
    color: #0b78d8;
}
.desc-purchase {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: #666;
}
.wrap-btn-naverpay {
    padding-top: 30px;
}
.wrap-btn-naverpay button {
    width: 200px;
    height: 60px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: right;
    padding: 0 30px 0 30px;
    background: url(image/naver-simbol.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px;
    font-size: 20px;
    transition: 0.3s;
}
.wrap-btn-naverpay button:hover {
    border: 1px solid #222;
}
/* purchase END */

/* log-purchase */
.page-log-purchase .agz-bbs .btn-download {
    color: #fff !important;
    background: #4fd80b;
    padding: 2px 8px;
    font-size: 12px;
}
/* log-purchase END */