/* RESET
 * 기존에 먹혀있는 CSS초기화입니다.
*/
.div-main {
    height: auto;
    margin: 0;
    padding: 0;
}
.div-home-grid {
    margin: 0;
}

/* RESET END */

/* FONT 글씨체 */
@font-face {
  font-family: 'nskr';
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
       url(./fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
       url(./fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'nskr';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
       url(./fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
       url(./fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 400;
   src: url(./fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 500;
   src: url(./fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 700;
   src: url(./fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'nskr';
   font-style: normal;
   font-weight: 900;
   src: url(./fonts/NotoSansKr/NotoSansKR-Black.woff2) format('woff2'),
        url(./fonts/NotoSansKr/NotoSansKR-Black.woff) format('woff'),
        url(./fonts/NotoSansKr/NotoSansKR-Black.otf) format('opentype');
 } 
body *{
    font-family: 'nskr';
}
/* FONT END */

/* Layout 레이아웃 공통 */
html, body, #root .index {
    width: 100%;
    height: 100%;
}
.width-full {
    width: 1024px;
}
.align-center {
    margin: 0 auto;
}
.align-center {
    margin: 0 auto;
}
.align-center-text {
    text-align: center;
}
.align-right-text {
    text-align: right;
}
.align-left-text {
    text-align: left;
}
.scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}
.scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.clear-r {
    clear: right;
}
.clear-l {
    clear: left;
}
.clear-b {
    clear: both;
}
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}
.mc /*Main Contents*/{
    box-sizing: border-box;
    height: auto;
    min-height: calc(100% - 80px - 116px);
}
.div-inline {
    display: inline-block;
}

/* .agz-scroll { */
	/* overflow-y: scroll; */
/* } */
.agz-scroll::-webkit-scrollbar-track
{
	background-color: transparent;
}
.agz-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}
.agz-scroll::-webkit-scrollbar-thumb
{
    background-color: #4cbf20;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* Layout End*/

/* Page Common 페이지 공통 */
.page-description {
    font-size: 34px;
    font-weight: 200;
    padding-top: 24px;
    padding-bottom: 8px;
    color: rgba(0,0,0,0.8);
    letter-spacing: -2px;
}
/* Page Common END*/

/* Colors */
.agz-bg {
    background: #4cbf20;
}
.agz-fc {
    color: #4cbf20 !important;
}

/* colors END */

/* header */
.header {
    height: 80px;
}
.header > div {
    height: 80px;
    padding: 0;
}
.header .logo {
    margin-top: 10px;
    height: 58px;
    width: 100px;
    cursor: pointer;
    background: url('./image/agz_logo_header.png');
    box-sizing: border-box;
    padding-left: 100px;
    background-size: cover;
}
/* 헤더 사용자 버튼 */
.header .wrap-btn-client {
    position: absolute;
    right: 0;
    top: 10px;
}
.header .wrap-btn-client button {
    width: 64px !important;
    height: 20px !important;
    line-height: 20px;
    border-radius: 2px;
    background: #fff !important;
    border: none !important;
    font-size: 12px;
    letter-spacing: -1px;
    margin: 0 0 0 4px !important;
    padding: 0 !important;
    
}
.header .wrap-btn-client button:hover {
    background: #f0ee35 !important;
}
.header .div-header-sub-menu #name{
    color: #fff;
    font-size: 13px;
    margin-right: 12px;
    font-weight: 300;
}
.header .wrap-nav {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -512px !important;
    width: auto;
    
    background: transparent;
    color: #fff;
    border: none;
    text-align: right;

    font-size: 22px;
    z-index: 100;
}
.header .wrap-nav li {
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
}
.header .wrap-nav .rc-menu-horizontal > .rc-menu-submenu,
.header .wrap-nav .rc-menu-horizontal > .rc-menu-item {
    font-weight: 300;
}
.header .wrap-nav > li.rc-menu-item{
    padding-top : 0px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;    
}
.header .wrap-nav li.rc-menu-item-active,
.header .wrap-nav li.rc-menu-submenu-active,
.header .wrap-nav li.rc-menu-submenu-active > div {
    background: transparent;
    color: #f0ee35;
    border-bottom-color: #f0ee35;
    border-bottom-width: 2px;
}
.header .wrap-nav li.rc-menu-item-selected,
.header .wrap-nav li.rc-menu-submenu-selected {
    /* 현재 선택된 메뉴 */
    color: #f0ee35 !important;
    border-bottom-color: #f0ee35 !important;
    background-color: transparent !important;
}
/* 헤더 서브메뉴 */
.rc-menu-vertical.rc-menu-sub { 
    margin-top: 6px !important;
    border: none;
    box-shadow: 0px 4px 3px rgba(50,50,50,0.5);
    background: #3fc80b !important;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
}
.rc-menu-vertical.rc-menu-sub .rc-menu-item{
    color: #fff;
}
.rc-menu-vertical.rc-menu-sub .rc-menu-item-active,
.rc-menu-vertical.rc-menu-sub .rc-menu-item-selected{
    color: #f0ee35;
    background: #4cbf20;
    cursor: pointer;
}
/* 헤더 서브메뉴 끝*/
.header .wrap-nav li > div {
    padding: 0 !important;
}
.header .wrap-nav li > div {
    padding-bottom: 0 !important;
}
.header .wrap-nav > li {
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 12px !important;
}

/* header END */

/* footer */
/* .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 80px;
    
    text-align: center;
    background: #fff;
} */
/* .footer_new .footer-layer1 {
    padding-top: 0 !important;
    height: 22px !important;
}
.footer_new .footer-layer2 {
    height: 65px !important;
    margin-bottom: 12px !important;
    margin-top: 14px !important;
}
.footer_new .footer-layer2 .footer-content > a > img{
    display: none !important;
}
.footer_new .footer-layer2 .footer-content > a {
    background: url('./image/agz_logo_footer.png');
    background-position: 50%;
    background-size: cover;
    display: block;
    float: left;
    width: 113px;
    height: 65px;
    margin-right: 24px;
}
.footer_new .footer-layer2 .footer-content address {
    line-height: 16px;
    color: rgba(0,0,0,0.7);
    font-weight: 300;
    font-size: 11px !important;
    letter-spacing: 1px;
} */
.footer_new{
    position: absolute;

    left: 0;
    bottom: 0;
    
    width: 100%;
    
    text-align: center;
    background: #333 !important;
    border-top: none !important;
    box-sizing: border-box !important;
    max-height: 116px;
}
.footer_new .footer-layer1 {
    padding-top: 6px !important;
    height: 22px !important;
    border-bottom: none !important;
}
.footer_new .footer-layer1 a {
    cursor: pointer;
    color: #fff !important;
    font-size: 13px !important;
}
.footer_new .footer-layer2 {
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 0px !important;
    padding-top: 14px !important;
    margin: 0 auto !important;
    text-align: left;
    max-height: 94px;
}
.footer_new .footer-layer2 .footer-content > a > img{
    display: none !important;
}
.footer_new .footer-layer2 .footer-content > a {
    background: url('./image/agz_logo_footer.png');
    background-position: 50%;
    background-size: cover;
    display: block;
    float: left;
    width: 113px;
    height: 65px;
    margin-right: 24px;
}
.footer_new .footer-layer2 .footer-content address {
    line-height: 16px;
    color: #fff;
    font-weight: 200;
    font-size: 12px !important;
    letter-spacing: 1px;
}
/* footer END */

/* main & searchbox */
.page-main .illust-main {
    width: 100%;
    height: 280px;
    padding-top: 60px;
    margin-bottom: 20px;
    background: url('./image/main_illu_3x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    box-sizing: content-box;
}
.page-main .wrap-content-main {
    height: calc(100% - 280px - 100px);
    position: relative;
    padding-top: 6%;
}
.wrap-content-main .searchbox:after {
  content: '';
  display: block;
  width: 280px;
  height: 30px;
  margin: 12px auto 0 auto;
  background: url('./image/main_phrase_lower.png');
  background-size: cover;
  background-position: 50%;
}
.wrap-searchbox {
    width: 100%;
    text-align: center;
}
.wrap-searchbox .label-center{
    height: 48px;
    line-height: 48px;
}
.wrap-searchbox .ipt-addr {
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    height: 64px;
    vertical-align: bottom;
    border: 3px solid #4cbf20;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
    color: #222;
    font-weight: 300 !important;
    
    margin: 0 -2px;
    position: relative;
}
.wrap-searchbox .ipt-addr div.vaadin-text-field-container {
    position: absolute;
    left:0;
    top: 3px;
}
.wrap-searchbox .btn-search {
    display: inline-block;
    width: 140px;
    height: 64px;
    
    vertical-align: bottom;
    border: none;
    background: #4cbf20;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    margin-left: -6px;
    font-weight: 400;
    cursor: pointer;
    
    margin: 0 -4px;

    transition: 0.3s;
}
.wrap-searchbox .btn-search:hover {
    color: #f0ee35;
}
.wrap-searchbox .btn-search:active {
    color: #fff;
}
.page-main .box-summary .summary {
    font-size: 28px;
    display: inline-block;
    margin: 0 24px;
    color: #666;
    cursor: pointer;
}
.page-main .wrap-content { 
    box-sizing: border-box;
    position: relative;
    margin-top: 6px;
    height: calc(100% - 280px);
}
.page-main .box-summary {
    margin-top: 64px;
    width: 100%;
    text-align: center;
}
.page-main .box-summary .num {
    color: #4dbf21;
    font-size: 25px;
}
/* searchbox END */

/* TABLE */
.p-datatable {
    margin-top: 20px;
}
.p-datatable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.p-datatable thead tr {
    background: #fff;
    border-bottom: 1px solid #eee !important;
}
.p-datatable thead tr th{
    height: 28px !important;
    line-height: 28px !important;
    margin-bottom: 12px !important;
    color: #666 !important;
    font-size: 14px !important;
    border: none !important;
    background: transparent !important;
    font-weight: 500 !important;
    text-align: left !important;
}
.p-datatable tbody tr {
    border-bottom: 1px solid #eee !important;
    cursor: pointer !important;
    transition: 0.3s;
    background: #fff !important;
}
.p-datatable tbody tr td > label {
    cursor: pointer;
}
.p-datatable tbody tr:nth-of-type(2n-1) {
    /* 홀수번째 배경색 */
    background: #f7f7f7 !important;
}
.p-datatable tbody tr:hover {
    /* 마우스 오버 효과 */
    background: #bbeea1 !important;
}
.p-datatable tbody tr:hover td {
    color: #444 !important;
}
.p-datatable tbody tr:active {
    /* 마우스 온클릭 효과 */
    background: #fff !important;
}
.p-datatable tbody tr.p-highlight {
    /* 선택기능으로 선택된 row */
    background: #bbeea1 !important;
}
.p-datatable tbody tr.p-highlight td {
    color: #444 !important;
}
.p-datatable tbody tr td {
    height: 32px !important;
    line-height: 32px !important;
    border-bottom: 1px solid #e1e1e1 !important;
    font-size: 14px !important;
    border: none !important;
    background: transparent !important;
    color: #666 !important;
    transition: 0.3s;
    font-weight: 300 ;
}
/* table selector */
.p-datatable .p-checkbox-box.p-highlight {
    border-color: #4cbf20 !important;
    background-color: #fff !important;
    color: #4cbf20 !important;
}

/* table pagination */
.p-datatable .p-paginator {
    background-color: transparent !important;
    border: none !important;
    margin-top: 24px;
}
.p-datatable .p-paginator .p-paginator-page.p-highlight {
    background-color: #4cbf20 !important;
}
.p-datatable .p-dropdown-label.p-inputtext {
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}


/* table footer : 개발자용 정보 표시하는 부분인듯하여 보이지 않게 처리했습니다. */
.p-datatable .p-datatable-footer {
    display: none;
}

/* table width 공지사항 한정 */
.section-table-notice tbody tr td:nth-of-type(1),
.section-table-notice thead tr th:nth-of-type(1) {
    width: 6% !important;
    text-align: center;
}
.section-table-notice tbody tr td:nth-of-type(2),
.section-table-notice thead tr th:nth-of-type(2) {
    width: 70% !important;
    text-align: left !important;
    padding-left: 24px !important;
}
/* TABLE END */

    /* Searchbox */
.wrap-search{
    text-align: center;
    padding-top: 16px;
    
}
.wrap-search > * {
    vertical-align: middle;
    box-sizing: border-box;
}
.wrap-search label {
    font-size: 13px;
    width: 0;
    color: #888;
    padding: 0 12px 0 18px;
}
.wrap-search .label:first-child {
    padding-left: 0;
}
.wrap-search .p-dropdown-label {
    padding: 0;
}
.wrap-search .p-dropdown {
    height: 32px;
    line-height: 30px;
    min-width: 100px;
    text-align: center;
}
.wrap-search .p-dropdown * {
    font-size: 13px;
}
.wrap-search .btn {
    width: 80px;
    background: #bbb;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    margin-left: 24px;
    font-size: 14px;
    height: 32px;
}
.wrap-search .btn:hover {
    background: #3fc80b;
}
.wrap-search .btn:active {
    background: #4cbf20;
}
.wrap-search .datepickr {
    display: inline-block;
    font-family : 'nskr';
    color: #444;
    width: 150px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.wrap-search .p-calendar {
    margin-right: 32px;
}
.wrap-search #lbPunct {
    padding-left: 6px;
    padding-right: 6px;
}
.wrap-search .datepickr:hover {
    border-bottom-color: #bbb;
}
.wrap-search .ipt-txt {
    width: 214px;
    border-bottom: 1px solid #eee;
}
.wrap-search .select {
    display: inline-block;
    font-family : 'nskr';
    color: #444;
    width: 150px;
    height: 32px;
    line-height: 44px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.wrap-search .select:hover {
    border: 1px solid #bbb;
}
.react-autosuggest__input {
    font-weight: 300 !important;
}
/* 서치박스 자동완성 드롭다운 */
.searchbox .react-autosuggest__suggestions-container {
    width: 100%;
    top: 48px !important;
    left: -2px;
}
.searchbox .react-autosuggest__suggestions-container--open {
    border-width: 2px;
    border-color: #eee;
    border-top: none;
    font-size: 12px;
    text-align: left;
}

    /* searchbox END */
    /*Pagination*/
    .p-datatable .p-dropdown-label.p-inputtext {
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.pagination {
    text-align: center;
    margin-top: 16px;
}
.pagination .btn{
    display: inline-block !important;
    width: 28px !important;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    min-width: 28px;
}
.pagination .btn.prev,
.pagination .btn.next {
    font-weight: 900;
    color: #999;
}
.pagination .btn.prev:hover,
.pagination .btn.next:hover{
    color: #4cbf20;
}
.pagination .btn.number {
    background: #e4fff1;
    border-radius: 2px;
    color: #4cbf20;
}
.pagination .btn.number[selected="true"] {
    background-color: #4cbf20 !important;
    color: #fff;
}
.pagination .btn.number:hover {
    background: #4cbf20;
    color: #fff;
}
    /* Btns */
.wrap-btn-pet .btn {
    display: block;
    width: 150px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    
    float: right;
    color: #fff;
    background: #4cbf20;
    margin: 0 0 0 20px;
    
    cursor: pointer;
    transition: 0.3s;
}
.wrap-btn-pet .btn:hover {
    background: #00c80a;
}
.btn.down-excel {
    display: inline-block;
    color: #fff;
    background: #4cbf20;
    font-size: 12px;
    padding: 8px 18px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 1;
}
/* table END */

/* PAGE - land info */
.page-description + div > div.searchbox > div {
    text-align: right !important;
}

.div-search {
    height: 50px !important;
    box-sizing: content-box !important;
    margin-bottom: 6px !important;
}
.div-search > div > div:first-child {
    /* 검색 input */
    width: calc(80% - 100px) !important;
    vertical-align: middle;
}
.div-search > div > div:last-child {
    display: inline-block;
    vertical-align: middle;
    height: 50px !important;
    margin-left: 0 !important;
}
.div-search > div > div:last-child vaadin-button {
    height: 50px;
    margin: 0;
    background-color: #4cbf20;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
}
.div-search > div > div:last-child vaadin-button:hover {
    background-color: #3fc80b;
}
.div-search input[type=text]{
    width: 100%;
    height: 50px;
    border: none;
    border: 2px solid #4cbf20;
    border-radius: 0;
    color: #444;
}
/* 서치박스 자동완성 드롭다운 */
.div-search .react-autosuggest__suggestions-container {
    width: 100%;
    top: 50px !important;
    left: 0;
}
.div-search .react-autosuggest__suggestions-container--open {
    border-width: 2px;
    border-color: #eee;
    border-top: none;
}

/* Dialog */
.p-dialog{
    max-width: 800px;
    overflow: hidden;
    border-radius: 7px !important;
}
.p-dialog .p-dialog-titlebar {
    background: #fff !important;
    border: none !important;
    font-size: 40px;
    padding-bottom: 0 !important;
}
.p-dialog .p-dialog-titlebar .p-dialog-title {
    font-weight: 200 !important;
    color: #4dbf21;
}
.p-dialog .p-dialog-titlebar .p-dialog-titlebar-icons {
    position: absolute;
    right:12px;
    top: 12px;
    font-size: 30px;
}
.p-dialog .p-dialog-titlebar .p-dialog-titlebar-icons .p-dialog-titlebar-close-icon {
    font-size: 30px;
}
.p-dialog .p-dialog-content {
    border: none !important;
    padding: 0px !important;
}
.p-dialog textarea {
    line-height: 30px;
    font-weight: 300;
    max-width: 100%;
    border: none;
    margin: 0;
    padding: 40px 40px 60px 40px !important
}
.p-dialog .p-dialog-footer {
    padding-top: 20px !important;
    padding-bottom: 36px !important;
}
.p-dialog .p-dialog-footer > div button {
    border: none;
    height: 33px;
    padding: 0 22px;
    font-size: 13px;
}
.p-dialog .p-dialog-footer > div button:hover{
    opacity: 0.8;
}
.p-dialog .p-dialog-footer > div button:first-child {
    background: #4cbf20;
    color: #fff;
}

/* Dialog END */ 
/*
CANDO

TODO
각종 modal css 적용
    - 크로스워크 소개 (푸터 서브메뉴) (컨셉 결정되면 디자인 및 적용)
포인트 구매 페이지 버튼 작동여부 확인 => 확인후 내부페이지 디자인 여부 확인
휴대폰 인증 페이지 추후 개발완료시 디자인 적용
가입 완료 페이지 버튼 디자인 변경 (현재 가입 불가 현상 발생)
주문버튼 클릭시 팝업되는 모달 디자인 (라이브 서버 변경 확인)

REQUESTS
- 회원가입이 자꾸 실패해서 회원가입 완료 페이지를 확인 할 수 없음
*/

.button-user-activated-changed-gofalse {
  width: 64px !important;
  height: 20px !important;
  color: #fff !important;
  background: #ec8989;
  padding: 2px 8px;
  font-size: 12px;
  border: none;
}
.button-user-activated-changed-gofalse:hover {
  background: #e97171;
}
.button-user-disabled-changed-gofalse {
  width: 64px !important;
  height: 20px !important;
  color: #fff !important;
  background: #888;
  padding: 2px 8px;
  font-size: 12px;
  border: none;
}
.button-user-disabled-changed-gofalse:hover {
  background: rgb(95, 95, 95);
}

.button-user-activated-changed-gotrue {
  width: 64px !important;
  height: 20px !important;
  color: #fff !important;
  background: #4cbf20;
  padding: 2px 8px;
  font-size: 12px;
  border: none;
}
.button-user-activated-changed-gotrue:hover {
  background: #4dbf21;
}
.button-user-disabled-changed-gotrue {
  width: 64px !important;
  height: 20px !important;
  color: #fff !important;
  background: rgb(119, 194, 255);
  padding: 2px 8px;
  font-size: 12px;
  border: none;
}
.button-user-disabled-changed-gotrue:hover {
  background: rgb(56, 86, 255);;
}
#lbTimer {
  display: block;
  font-size: 13px;
  color: #666;
  margin-bottom: 4px;
  text-align: left;
}
.p-datepicker-year {
  padding: 0.857em;
  background-color: #ffffff;
  color: #333333;
  border: 0;
  border-radius: 3px;
}
.input-flex-80-left {
  flex: 80;
}
.button-address-search {
  display: inline-block;
  width: 100px;
  height: 48px;
  line-height: 48px;
  vertical-align: bottom;
  border: none;
  background: #4fd80b;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: -6px;
  font-weight: bold;
  cursor: pointer;
  
  border-radius: 0;
  margin: 0 -4px;
}
#btnHeadRegister {
  width: 80px;
  height: 50px;
  color: green;
  background-color: white;
  border: 1px solid #d5d5d5;
  margin-right: 1em;
  margin-left: 1em;
}
.button-cmt-register-onoff {
  background: none;
  width: -1px;
  padding: 0, 0, 0, 1px;
  margin: 0em;
  height: -1px;
  font-size: 11px;
  cursor: pointer;
  border: 0;
}

.button-cmt-update-onoff {
  background: none;
  width: -1px;
  padding: 0, 0, 0, 1px;
  margin: 0em;
  height: -1px;
  font-size: 11px;
  cursor: pointer;
  border: 0;
  float: right;
}

.button-cmt-delete {
  background: none;
  width: -1px;
  padding: 0em;
  margin: 0em;
  height: -1px;
  font-size: 11px;
  cursor: pointer;
  border: 0;
  color: red;
  float: right;
}
