
@charset "utf-8";

// #toastEditor {width:800px}
#toastEditor {text-align: left; padding-right: 1em; padding-left: 1em;}
#toastEditor .btn_save {width:400px;height:40px;margin-top:20px}
#toastEditor .tf_result {width:800px;height:300px}
// #toastEditor .tui-editor-contents {height:300px}