
/* PAGE-profile */
.section-profile {
  width: 390px;
  margin: 40px auto;
  padding: 40px 60px 50px 60px;
  background: #fff;
  border: 1px solid #ddd;
}
.section-profile ul li {
  padding: 12px 0;
}
.section-profile ul li label {
  vertical-align: middle;
  line-height: 22px;
}
.section-profile ul li label:first-child {
  font-size: 14px;
  font-weight: 300;
}
.section-profile ul li label:last-child {
  font-size: 16px;
  font-weight: 200;
  padding-left: 12px;
  border-left: 1px solid #eee;
}
.section-profile ul + div {
  margin-top: 20px;
  text-align: left;
}
.section-profile ul + div button {
  border: none;
  color: #fff;
  font-size: 13px;
  background: #4cbf20;
  padding: 8px 16px;
  margin-right: 8px;
  transition: 0.3s;
}
.section-profile ul + div button:hover {
  background: #4dbf21;
}

#btnUserOut {
  margin-top: 10px;
}
/* PAGE-profile END */


/* 회원정보 수정 */
.p-dialog .p-dialog-content .div-register-input {
  width: 70%;
  padding-top: 52px;
  margin-left: 15%;
  height: 480px;
}
.p-dialog .p-dialog-content .div-register-input > div {
  padding: 0 0 22px 0;
  margin: 1em 0 0 0;
}
.p-dialog .p-dialog-content .div-register-input .default-column label,
.p-dialog .p-dialog-content .div-register-input .email-column label,
.p-dialog .p-dialog-content .div-register-input .address-column label  {
  font-size: 13px;
  color: #666;
}
.p-dialog .p-dialog-content .div-register-input #itNm {
  width: 100%;
}
.p-dialog .p-dialog-content .div-register-input .p-calendar {
  width: 100%;
}
.p-dialog .p-dialog-content .div-register-input .p-calendar input {
  width: calc(100% - 33px);
}
.p-dialog .p-dialog-content .div-register-input #lbUpdateUserTellNo + div input {
  width: 30%;
}
.p-dialog .p-dialog-content .div-register-input #lbUpdateUserTellNo + div label {
  display: inline-block;
  text-align: center;
  width: 5%;
}
.p-dialog .p-dialog-content .div-register-input .address-column > div > div {
  margin-bottom: 6px;
}
.p-dialog .p-dialog-content .div-register-input .address-column > div > div button {
  border: none;
  color: #fff;
  height: 33px;
  background: #4cbf20;
  border-radius: 2px;
  padding: 0 18px;
  margin-left: 12px;
  font-size: 13px;
}
.p-dialog .p-dialog-content .div-register-input .address-column > div > div button:hover {
  background: #4dbf21;
}
.p-dialog .p-dialog-content .div-register-input .address-column > div > input {
  width: 100%;
}
.p-dialog .p-dialog-content .div-register-input input {
  border: 1px solid #bbb;
  padding-left: 10px;
}

/* 비밀번호 변경 */
.modal-modify-pw {
  padding: 40px 80px 0 80px;
}
.modal-modify-pw > div {
  width: 100%;
  padding: 8px 0;
}
.modal-modify-pw > div label {
width: 40%;
display: inline-block;
font-weight: 300;
color: #555;
}
.modal-modify-pw > div input {
  width: 60%;
  border-radius: 0;
}
/* 비밀번호 변경 END */