#btnHeadLogin {
  width: 80px;
  height: 50px;
  color: blue;
  background-color: white;
  border: 1px solid #d5d5d5;
  margin-right: 1em;
  margin-left: 1em;
}

#btnHeadLogout {
  width: 80px;
  height: 50px;
  color: red;
  background-color: white;
  border: 1px solid #d5d5d5;
  margin-right: 1em;
  margin-left: 1em;
}

#btnHeadRegister {
  width: 80px;
  height: 50px;
  color: green;
  background-color: white;
  border: 1px solid #d5d5d5;
  margin-right: 1em;
  margin-left: 1em;
}
.button-cmt-register-onoff {
  background: none;
  width: -1px;
  padding: 0, 0, 0, 1px;
  margin: 0em;
  height: -1px;
  font-size: 11px;
  cursor: pointer;
  border: 0;
}

.button-cmt-update-onoff {
  background: none;
  width: -1px;
  padding: 0, 0, 0, 1px;
  margin: 0em;
  height: -1px;
  font-size: 11px;
  cursor: pointer;
  border: 0;
  float: right;
}

.button-cmt-delete {
  background: none;
  width: -1px;
  padding: 0em;
  margin: 0em;
  height: -1px;
  font-size: 11px;
  cursor: pointer;
  border: 0;
  color: red;
  float: right;
}

.button-address-search {
  display: inline-block;
  width: 100px;
  height: 48px;
  line-height: 48px;
  vertical-align: bottom;
  border: none;
  background: #4fd80b;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: -6px;
  font-weight: bold;
  cursor: pointer;
  
  border-radius: 0;
  margin: 0 -4px;
}