.main-div {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.search-div {
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
}

.sub-main-div {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}