.div-main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  text-align: center;
}

// .div-grid {
//   // width: 100%;
//   // height: 600px;
//   margin: 0;
//   padding: 0;
//   // border-spacing: 0;
//   text-align: center;
// }

.div-search {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
}

.div-sub-main {
  // width: 100%;
  height: 5%;
  margin-left: 5em;
  margin-right: 5em;
  padding: 0;
  border-spacing: 0;
  text-align: right;
}

.div-sub-top-right {
  // height: 5%;
  padding: 1;
  border-spacing: 0;
  text-align: right;
}

.div-sub-main-center {
  // width: 100%;
  height: 5%;
  margin-left: 5em;
  margin-right: 5em;
  padding: 0;
  border-spacing: 0;
  text-align: center;
}

.div-board {
  width: 1073px;
  height: 100%;
  padding: 1em;
  // text-align: center;
  justify-content: center;
}

.div-editor {
  text-align: left;
}

.div-board-title {
  // width: 100%;
  height: 50px;
  // margin-left: 5em;
  // margin-right: 5em;
  border-spacing: 0;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.div-board-sub-title {
  // width: 100%;
  height: 30px;
  // margin-left: 5em;
  // margin-right: 5em;
  padding-right: 3em;
  border-spacing: 0;
  text-align: right;
  // border-bottom: 1px solid #d5d5d5;
  // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.div-board-txt {
  // width: 100%;
  // height: 500px;
  height: 100%;
  // margin-left: 5em;
  // margin-right: 5em;
  padding: 3em;
  border-spacing: 0;
  text-align: left;
  border: 1px solid #d5d5d5;
  // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.div-board-txt-details {
  min-height: 300px;
  text-align: left;
    // width: 100%;
  // height: 500px;
  // margin-left: 5em;
  // margin-right: 5em;
  // padding: 3em;
  // border-spacing: 0;
  // border: 1px solid #d5d5d5;
  // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.div-comment {
  // margin-top: 0.2em;
  // margin-bottom: 5em;
  // margin-right: 8em;
  // margin-left: 8em;
  // padding-top: 0em;
  // padding-bottom: 1em;
  // padding-right: 1em;
  // padding-left: 1em;
  // min-height: 100px;
  text-align: center;
  background-color: #F9F9F9;
  width: 100%;
  // padding: 1em;
  // min-height: 300px;;
  // text-align: center;
}

.div-comment-title {
  // margin-right: 8em;
  // margin-left: 8em;
  // padding-right: 1em;
  line-height: 18px;
  height: 25px;
  width: 100%;
  text-align: left;
}

.div-register-popup-board {
  width: 573px;
  height: 100%;
  padding: 1em;
  // text-align: center;
  .default-column {
    display: flex;
    padding: 1em;
    align-items: center;
  }
  .email-column {
    display: flex;
    padding: 1em;
    align-items: center;
  }
  .address-column {
    display: flex;
    padding: 1em;
    align-items: center;
  }
  .list-box-column {
    display: flex;
    padding: 1em;
    text-align: center;
    .list-box-button{
      width: 100px;
      margin-top: 3em;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
    }
  }
}

.div-register-popup-bottom {
  width: 573px;
  height: 100%;
  padding: 1em;
  text-align: center;
  justify-content: center;
}

.div-select-total-payment {
  padding: 1em;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.div-layout-card {
  display: inline-block;
  width: 600px;
  padding: 1em;
  margin: 1em;
  // margin: 1em 10em 1em 10em;
  border: 1px solid #d5d5d5;
  text-align: center;
  .div-layout-card-column {
    display: flex;
    margin: 1em;
  }
}

.div-mypage {
  display: inline-flex;
  width: 200px;
  text-align: right;
  justify-content: right;
  align-items: right;
  // height: 100px;
}

.div-header-sub-menu {
  flex: 85;
  text-align: right;
  justify-content: right;
  align-items: right;
}

.div-center {
  text-align: center;
}

.div-flex {
  display: flex;
}

.div-inline {
  margin: 1em;
  display: inline;
}

.div-width-40 {
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0em;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  justify-content: center;
}

.div-width-60 {
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0em;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  justify-content: center;
}

.div-flex-80-left {
  flex: 80;
  text-align: left;
}