// MAIN PAGE_LAYOUT
.footer_new {
  position: relative;
  border-top: #ddd solid 2px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}

.footer_new .footer-layer1 {
  border-bottom: #ddd solid 1px;
  height: 34px;
  text-align: center;
  padding-top: 15px;
  white-space: nowrap;
}

.footer_new .footer-layer1 a {
  display: inline-block;
  white-space: nowrap;
  padding: 0 25px;
  font-size: 12px;
  color: #555;
  height: 12px;
  border-left: #888 solid 1px;
}

.footer_new .footer-layer2 {
  // width: 1020px;
  width: 620px;
  height: 100px;
  margin: 30px auto;
  font-size: 12px;
  color: #555;
  line-height: 150%;
}

.footer_new .footer-layer2 h1 {
  float: left;
  width: 150px;
  background-image: none;
}

.footer_new .footer-layer2 h1 a {
  background-position: -19px -34px;
  width: 117px;
  height: 34px;
  margin-left: 10px;
}

.footer_new .footer-layer2 a {
  color: #555;
}

.footer_new .contact-fax {
  font-size: 11px;
}

.footer_new .footer-content address {
  // float: right;
  display: inline-block;
  // width: 260px;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

.footer_new .footer-layer2 .licensee, .footer_new .footer-layer2 .service-check {
  text-decoration: underline;
}

.footer_new .footer-layer2 a {
  color: #555;
}

.footer_new .contact-info {
  float: left;
  width: 340px;
  color: #555;
}

.footer_new .safe-service {
  float: left;
  width: 270px;
  font-size: 11px;
}

.footer_new .footer-layer2 strong {
  font-weight: bold;
  font-size: 12px;
}

.footer_new .footer-layer2 .licensee, .footer_new .footer-layer2 .service-check {
  text-decoration: underline;
}

.footer_new .contact-info em {
  font-size: 24px;
  font-family: Tahoma;
  font-weight: bold;
  display: block;
  margin: 9px 0 11px 0;
}

.footer_new .footer-layer3 {
  width: 1020px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  border-top: #ddd solid 1px;
}

.footer_new .footer-layer3 .slide-area {
  width: 940px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
}

.footer_new .award-list {
  overflow: hidden;
}

.slide-unit ul {
  width: 9999px;
  overflow: hidden;
  position: relative;
}

.footer_new .award-list li {
  float: left;
  width: 220px;
  height: 80px;
}

.footer_new .award-list li a.award-link3 {
  background-position: -44px -107px;
}

.footer_new .award-list li a.award-link4 {
  background-position: -222px -107px;
}

.footer_new .award-list li a.award-link5 {
  background-position: -417px -107px;
}

.footer_new .award-list li a.award-link13 {
  background-position: -623px -107px;
}

.footer_new .award-list li a {
  height: 50px;
  margin-top: 15px;
  width: 188px;
}

.footer_new .sns-link a, .footer_new .footer-layer2 h1 a, .footer_new .award-list li a {
  display: block;
  overflow: hidden;
  // background: url(../agz/algozip_w.png) no-repeat;
  // background: url(//img1a.coupangcdn.com/image/coupang/common/footer_asset_v6.png) no-repeat;
  text-indent: -99em;
}

.footer_new .footer-layer4 {
  background: #333;
  height: 80px;
}

.footer_new .coupang-copyright {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

.footer_new .coupang-copyright .info {
  padding: 21px 0 3px 0;
}

.footer_new .coupang-copyright p {
  color: #888;
  font-size: 11px;
}

.footer_new .sns-link {
  position: absolute;
  top: 23px;
  right: 0;
}

.footer_new .sns-link li {
  float: left;
}

.footer_new .sns-link a {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.footer_new .sns-link a.facebook {
  background-position: -220px -30px;
}