.ul-comment {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.li-comment-answer {
  background-color: #F9F9F9;
  padding: 0.5em;
  height: 50px;
  border-bottom: 2px solid #0e060667;
  text-align: left;
}

.li-comment-cmt {
  background-color: #F9F9F9;
  padding: 0.5em;
  height: 50px;
  border-bottom: 2px solid #0e060667;
  text-align: left;
  border-spacing: 0;
}

.li-comment-answer-update {
  background-color: #F9F9F9;
  padding: 0.5em;
  height: 85px;
  border-bottom: 2px solid #0e060667;
  text-align: left;
}

.li-comment-answer-register {
  background-color: #F9F9F9;
  padding: 0.5em;
  height: 70px;
  text-align: left;
  border-spacing: 0;
}

.li-comment-cmt-update {
  background-color: #F9F9F9;
  padding: 0.5em;
  height: 85px;
  border-bottom: 2px solid #0e060667;
  text-align: left;
}

.li-comment-cmt-register {
  background-color: #F9F9F9;
  padding: 0.5em;
  height: 70px;
  border-bottom: 2px solid #0e060667;
  text-align: left;
  border-spacing: 0;
}